body {
  margin: 0px;
}

.header {
  background-color: #01415a;
  width: 100%;
  padding: 20px;
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
}

.title {
  margin-left: 120px;
  margin-top: 15px;
  color: white;
  font-size: 36pt;
}

.content {
  margin-right: 20px;
  margin-left: 20px;
}

.sub-title {
  margin-top: 20px;
  font-size: 24pt;
}

.description {
  margin-top: 10px;
  font-size: 14pt;
}
