body {
  margin: 0px;
}
main{
  margin: 20px;
}
header {
  background-color: #01415a;
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: left;
  height: fit-content;
  align-items: center;
}
h1{
  color: white;
  text-align: center;
  height: fit-content;
  padding-left: 20px;
}
.logo {
  width: 100px;
  height: 100px;
}
